body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;
    background-color: black;
    margin: 0;
}

header{
    background-color: #3aafa9;
    text-align: center;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.container{
    width: 100%;
    margin: 0% auto;
}

section{
    margin-top: 2%;
    padding: 5%;
    width: 45%;
}

aside{
    margin-top: 2%;
    border: 2px solid;
    font-size: 28px;
    width: 20%;
    padding: 9%;
}

.foot{
    margin: 3%;
    padding: 2%;
    border: 2px solid;
    clear: both;
    line-height: 32px;
}

.same{
    text-align: center;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.one{
    background-color: #fc9003;
}

.two{
    background-color: #f1b814;
}

.three{
    background-color: #bd1e51;
}