body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;
    background-color: black;
    margin: 0;
}

header{
    background-color: #3aafa9;
    text-align: center;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.container{
    width: 80%;
    margin: 0% auto;
}

section{
    padding-top: 100px;
    float: left;
    width: 70%;
}

aside{
    font-size: 28px;
    float: right;
    width: 30%;
    padding-top: 100px;
}